@font-face {
  font-family: archi;
  src: url(./archia-light-webfont.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: archi;
}

html,
body {
  height: 100%;
  width: 100%;
}

#cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
  background-color: #fff;
  mix-blend-mode: difference;
}

#main {
  /* cursor: none; */
  background-color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

#page1 {
  height: 100vh;
  /* background-color: rgb(62, 62, 62); */
  width: 100%;
  position: relative;
}
#page1 h1 {
  font-family: archi;

  position: absolute;
  bottom: 20%;
  font-weight: 100;
  z-index: 9;
  left: 10%;
  font-size: 4vw;
  color: #fff;
  /* background-color: blue; */
  width: 50%;
}
#page1 h1::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 50px;
  animation: kuch 0.3s infinite linear;
  background-color: #fff;
}
#page1 h1 span {
  display: none;
  font-family: archi;
}
@keyframes kuch {
  100% {
    opacity: 0;
  }
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw 8vw;
  position: fixed;
  width: 100%;
  mix-blend-mode: difference;
  z-index: 9999;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 3.5vw;
}

#nav h4 {
  font-size: 0.9vw;
  text-transform: uppercase;
  color: #fff;
}

#nav i {
  font-size: 1.5vw;
  color: #fff;
  display: none;
  position: relative;
  z-index: 9999;
}

#page1 video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

#page2 {
  height: 100vh;
  width: 100%;
  /* background-color: #fff; */
  position: relative;
  padding: 8vw 5vw;
}

#page2 h2 {
  font-size: 1.5vw;
  letter-spacing: 2px;
  word-spacing: 5px;

  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

#page2-content {
  /* background-color: red; */
  display: flex;
  margin-top: 5vw;
  align-items: center;
  justify-content: space-between;
}

#left-page2 {
  height: 400px;
  width: 42%;
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

#blur {
  height: 100%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.325);
  backdrop-filter: blur(20px);
  position: relative;
  z-index: 9;
}

#left-page2 img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

#right-page2 {
  height: 400px;
  width: 45%;
  /* background-color: blue; */
}

#right-page2 h1 {
  font-size: 3vw;
  font-weight: 500;
}

#right-page2 p {
  font-size: 1.3vw;
  font-weight: 300;
  margin: 2vw 0;
}

#right-page2 button {
  font-size: 1.1vw;
  font-weight: 500;
  padding: 14px 30px;
  border-radius: 50px;
  border: 2px solid #000;
  background-color: transparent;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  /* background-color: red; */
  background-image: url(./bg.png);
  background-size: cover;
  background-position: top;
  padding-bottom: 10vw;
}

#page3 #page3-top {
  width: 100%;
  height: 100px;
}

#helmet {
  /* background-color: blue; */
  width: 100%;
}

#page3-content-1 {
  width: 100%;
  padding: 5vw 0;

  text-align: center;
}

#page3-content-1 h2 {
  font-size: 3vw;
  font-family: archi;
  font-weight: 100;
}

#page3-content-1 p {
  font-size: 1.5vw;
  margin: 2vw 0;
  font-family: archi;
  font-weight: 100;
}

#page3-content-1 button {
  padding: 1vw 2vw;
  border-radius: 50px;
  border: 2px solid #000;
  background-color: transparent;
  font-size: 1.2vw;
  font-weight: 500;
}

#page3 #page3-content-2 {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  margin-top: 10vw;
  padding: 2vw 7vw;
  position: relative;
}

#page3-content-2 video {
  height: 100%;
  /* width: 40%; */
  border-radius: 10px;
  object-fit: cover;
}

#page3-content-2 h5 {
  font-size: 2vw;
  width: 50%;
  font-family: archi;
}
#page3 #page3-content-3 {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  margin-top: 10vw;
  padding: 2vw 7vw;
  position: relative;
}

#page3-content-3 video {
  height: 100%;
  width: 40%;
  border-radius: 10px;
  object-fit: cover;
}
.page3-content-3 {
  width: 50%;
  /* background-color: green; */
}
.page3-content-3 h5 {
  font-size: 2vw;
  width: 100%;
  font-family: archi;
  /* background-color: red; */
}
.page3-content-3 button {
  padding: 1.5vw 3vw;
  border-radius: 30px;
  font-size: 1.4vw;
  font-family: archi;
  background-color: transparent;
  border: 2px solid black;
  margin-top: 3vw;
}
#page3 #page3-content-4 {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  margin-top: 10vw;
  padding: 2vw 7vw;
  position: relative;
}
#page3-content-4 video {
  height: 100%;
  /* width: 40%; */
  border-radius: 10px;
  object-fit: cover;
}

#page3-content-4 h5 {
  font-size: 2vw;
  width: 50%;
  font-family: archi;
}
#page3-content-5 {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  margin-top: 10vw;
  padding: 2vw 7vw;
  position: relative;
}
#page3-content-5 video {
  height: 100%;
  width: 40%;
  border-radius: 10px;
  object-fit: cover;
}
.page3-content-5 {
  width: 50%;
  /* background-color: green; */
}
.page3-content-5 h5 {
  font-size: 2vw;
  width: 100%;
  font-family: archi;
  /* background-color: red; */
}
.page3-content-5 button {
  padding: 1.5vw 3vw;
  border-radius: 30px;
  font-size: 1.4vw;
  font-family: archi;
  background-color: transparent;
  border: 2px solid black;
  margin-top: 3vw;
}

#page4 {
  height: 100vh;
  width: 100%;
  background-image: url(https://www.brain.space/wp-content/themes/brain.space/assets/bg/home/ecosystem_bg.jpg);
  background-size: cover;
}
#page4-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8vw 5vw;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
#page4-info {
  flex-shrink: 0;
  width: 30vw;
  height: 100%;
  /* background-color: red; */
  color: #fff;
}
#page4-info h2 {
  font-family: archi;
  font-size: 3vw;
  margin-bottom: 10px;
}
#page4-info button {
  font-size: 1vw;
  margin-top: 2vw;
  padding: 1vw 2vw;
  border-radius: 50px;
  border: 2px solid #000;
  background-color: transparent;
  font-weight: 600;
}

.page4-elems {
  flex-shrink: 0;
  height: 100%;
  width: 35vw;
  background-color: rgba(255, 255, 255, 0.182);
  -webkit-mask-image: url(https://www.brain.space/wp-content/themes/brain.space/assets/bg/home/ecosystem-box_bg_mob.svg);
  -webkit-mask-size: cover;
  -webkit-mask-position: bottom;
  -webkit-mask-repeat: no-repeat;
  backdrop-filter: blur(20px);
  padding: 2vw;
  margin: 0 3vw;
}
.page4-elems img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1vw;
}

.page4-elems h2 {
  font-family: archi;
  font-size: 3vw;
  font-weight: 100;
}

.page4-elems p {
  font-family: archi;
  font-size: 1vw;
  font-weight: 100;
  padding: 3vw 0.5vw;
}

#page4 #slider {
  height: 5px;
  width: 59%;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  bottom: 8%;
  background-color: rgb(255, 255, 255);
  transform: translate(-50%, 0);
  overflow: hidden;
}
#page4 #slider-in {
  height: 100%;
  width: 17vw;
  background-color: black;
}
#page5 {
  width: 100%;
  min-height: 100vh;
  background-image: url(bg_1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: start;
  font-size: 2.3vw;
  font-weight: 300;
  padding: 5vw 8vw;
  font-family: archi;
  position: relative;
}
#page5 .page5inner {
  width: 100%;
  height: 100%;
  padding: 4vw 0vw;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 2px solid black;
}
.page5inner .leftinner1 {
  width: 40%;
  height: 100%;
  font-size: 1.7vw;
  /* background-color: pink; */
}
.page5inner .rightinner {
  width: 50%;
  height: 100%;
  /* background-color: pink; */
  font-size: 1.4vw;
}
.rightinner .table {
  width: 100%;
  height: 100%;
  padding: 4vw 4vw;
  font-size: 1.6vw;
  font-weight: bold;
}
#page5-content-1 {
  width: 100%;
  height: 80vh;
  /* background-color: red; */
  padding: 2vw 0vw;
  display: flex;
}
.content-1 {
  width: 40%;
  height: 80%;
  background-image: url(cut.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5vw;
}
.content-1 .profile {
  min-width: 60%;
  min-height: 20%;
  background-color: rgb(207, 168, 207);
  border-radius: 40px;
  text-align: center;
  padding: 1vw;
}
.profile h2 {
  font-size: 1.8vw;
  font-family: archi;
}
.content-1 p {
  margin-top: 3vw;
  font-size: 1.3vw;
  font-family: archi;
  padding: 0.5vw;
  /* background-color: green; */
}
#page5-content-2 {
  width: 100%;
  height: 150px;
  /* background-color: greenyellow; */
  padding: 2vw 8vw;
  text-align: center;
}
#page5-content-2 h2 {
  font-size: 3vh;
  font-family: archi;
}
#page5 button {
  padding: 1vw 2vw;
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid black;
}
.downimg {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  position: absolute;
  bottom: 0;
  left: 0%;
}
.downimg .img {
  width: 40%;
  height: 100%;
  margin-top: 3.4%;
  background-image: url(down.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 6vw;
}
#page6 {
  width: 100%;
  height: 100vh;
}
#page6-content-1 {
  margin-top: 10%;
  width: 100%;
  height: 40%;
  /* background-color: rgb(210, 140, 140); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 8vw;
}
#page6-leftcontent {
  width: 40%;
  height: 100%;
  padding: 2vw 4vw;
}
#page6-leftcontent h3 {
  font-size: 2vw;
  font-weight: 700;
  padding: 1vw 0vw;
}
#page6-rightcontent {
  width: 40%;
  height: 100%;
}
#page6-rightcontent img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#page6-content-2 {
  width: 60%;
  height: 180px;
  /* background-color: yellowgreen; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20%;
}
.icon {
  width: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  text-align: center;
}
.icon p {
  font-size: 0.8vw;
}
#page6-content-3 {
  width: 100%;
  height: 150px;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#page6 button {
  padding: 1vw 2vw;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid black;
  margin-left: 80px;
  margin-top: 50px;
}
#page51 {
  min-height: 100vh;
  width: 100%;
  background: conic-gradient(
    at 0 0,
    rgb(255, 228, 233),
    aliceblue,
    rgb(205, 243, 255),
    rgb(195, 255, 195),
    lightyellow,
    rgb(251, 226, 230)
  );
  padding: 4vw;
}

#page51-in {
  min-height: 100%;
  width: 100%;
  background-color: #c4c4c459;
  border-radius: 30px;
  backdrop-filter: blur(50px);
}
#iconscontent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellowgreen; */
  padding: 5vw;
}
#page51-in h2 {
  text-align: center;
  /* position: absolute; */
  left: 40%;
}
#page51content {
  width: 100%;
  height: 100%;
  /* background-color: brown; */
}
#page51content-1 {
  width: 40%;
  height: 100%;
  /* background-color: pink; */
}

#page51content-2 {
  width: 40%;
  height: 100%;
  /* background-color: rgb(169, 64, 82); */
}
.content-51 {
  font-size: 1vw;
  color: white;
  font-family: archi;
  width: 300px;
  height: 100px;
  /* background-color: red; */
  text-align: center;
  border-bottom: 1px solid black;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
#secondcontent {
  height: 100%;
  width: 100%;
  /* background-color: green; */
  padding: 4vw;
  display: flex;
  gap: 100px;
}
#secondleft {
  height: 100%;
  width: 40%;
  /* background-color: red; */
}
#secondleft h2 {
  color: white;
  font-size: 3vw;
  font-family: archi;
  padding: 2vw 0vw;
}
#secondleft p {
  color: black;
  font-size: 1.5vw;
  font-family: archi;
  padding: 2vw 0vw;
}
.divs {
  font-size: 1vw;
  width: 100%;
  height: 50px;
  /* background-color: yellow; */
  border-bottom: 1px solid black;
  padding-top: 2vw;
}
#secondright {
  height: 100%;
  width: 40%;
  padding: 2vw;
}
#secondright img {
  height: 100%;
  width: 100%;
}
#thirdcontent {
  width: 100%;
  height: 100vh;
  /* background-color: rgb(116, 51, 51); */
}
#thirdcontent-1 {
  width: 100%;
  height: 100px;
  /* background-color: rosybrown; */
  display: flex;
}
#thirdcontent-1 .div-1 {
  width: 60%;
  height: 50%;
  background-color: transparent;
  border-top-right-radius: 80px;
  border-top: 3px solid black;
}
#thirdcontent-1 .div-2 {
  width: 40%;
  height: 50%;
  background-color: transparent;
  border-bottom-left-radius: 60px;
  margin-top: 3.8vw;
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#thirdcontent-1 .div-2 img {
  width: 100px;
  height: 60px;
}
#fourthcontent {
  width: 100%;
  height: 100%;
  /* background-color: green; */
}
#fourthcontent h3 {
  text-align: center;
  font-size: 2vw;
  flex-flow: archi;
  font-weight: 100;
  word-spacing: 2px;
}
#fourthcontent-1 {
  width: 100%;
  height: 100%;
  background-color: lightcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7vw;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
}
#forthleft {
  width: 40%;
  height: 100%;
  /* background-color: lightseagreen; */
}
#forthleft h3 {
  color: lightsalmon;
  font-size: 3.5vw;
  font-family: archi;
  padding: 4vw 0vw;
  /* background-color: #fff; */
  text-align: start;
}
#forthleft p {
  /* color: lightsalmon; */
  font-size: 1.3vw;
  font-family: archi;
  /* padding: 4vw 0vw; */
  /* background-color: #fff; */
  text-align: start;
}
#forthleft h5 {
  font-size: 1.3vw;
  font-family: archi;
  /* background-color: #fff; */
  text-align: start;
  text-decoration: underline;
  font-weight: 900;
  padding: 4vw 0vw;
}
#forthright {
  width: 40%;
  height: 100%;
  /* background-color: rgb(124, 189, 186); */
  display: flex;
  align-items: center;
  justify-content: center;
}
#forthright .img {
  width: 100%;
  height: 35%;
  background-color: red;
  border-radius: 120px;
  /* object-fit: cover; */
}
#forthright .img video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 120px;
}

#page7 {
  width: 100%;
  min-height: 60vh;
  padding: 6vw;
}
#page7content {
  width: 100%;
  height: 100vh;
  /* background-color: rgba(128, 128, 128, 0.376); */
  padding: 4vw 0vw;
}

#page7content-1 {
  width: 100%;
  height: 50%;
  /* background-color: red; */
  /* padding: 4vw; */
}
#page7content h5 {
  font-size: 2vw;
  text-align: center;
  letter-spacing: 0.5vw;
  font-weight: 100;
  font-family: archi;
}
#page7first {
  width: 100%;
  height: 35%;
  /* background-color: royalblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#page7second {
  width: 100%;
  height: 25%;
  /* background-color: rgb(163, 180, 232); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#page7third {
  width: 100%;
  height: 40%;
  /* background-color: rgb(163, 180, 232); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#page7content-2 {
  width: 100%;
  height: 90px;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vw;
}
#page7content-2 h2 {
  width: 50%;
  height: 100%;
  font-size: 1.5vw;
  text-align: center;
  text-shadow: 2px 2px 2px blanchedalmond;
  letter-spacing: none;
}
#page7content button {
  padding: 1vw 2vw;
  background-color: transparent;
  border: 2px solid black;
  font-size: 1.4vw;
  border-radius: 30px;
  margin-top: 4vw;
}
#page8 {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  background-color: lightcyan;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  box-shadow: 0px 8px 8px greenyellow;
  border-bottom: 1px solid black;
  /* padding: 10vw; */
}
#page8left {
  width: 45%;
  height: 100vh;
  /* background-color: white; */
  padding: 4vw 2vw;
}
#page8left h1 {
  font-size: 3vw;
  padding: 2vw 1vw;
  letter-spacing: 2px;
}
#page8left p {
  font-size: 1.3vw;
  padding: 2vw 1vw;
  letter-spacing: 2px;
  text-align: start;
}
#page8right {
  width: 50%;
  min-height: 100vh;
  /* background-color: rgb(9, 132, 120); */
}
#page8right button {
  padding: 1vw 2vw;
  background-color: lightskyblue;
  border-radius: 20px;
}
#page8right p {
  font-size: 1vw;
  width: 60%;
  padding: 2vw 0vw;
}
#page8input {
  width: 100%;
  height: 100%;
  /* background-color: #fff; */
  /* border: 20px solid black; */
  text-align: center;
  padding: 4vw;
}

#page8input input {
  margin-top: 2.5vw;
  padding: 2vw 6vw;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(200, 197, 197, 0.307);
}
#page9 {
  margin-top: 2vw;
  width: 100%;
  /* height: full; */
  /* background-color: red; */
}
#page9content-1 {
  width: 100%;
  height: 100px;
  /* background-color: greenyellow; */
  display: flex;
}
#leftcontent {
  width: 30%;
  height: 100%;
  /* background-color: #fff; */
  border-top: 10px solid pink;
  border-top-right-radius: 60px;
}
#leftcontent h2 {
  color: black;
  font-size: 1.5vw;
  padding: 3vw 0.5vw;
  text-decoration: underline;
  color: blue;
}
#rightcontent {
  width: 70%;
  height: 100%;
  margin-top: 1vw;
  /* background-color: #fff; */
  border-bottom-left-radius: 60px;
  border-bottom: 4px solid pink;
}
#page9content-2 {
  width: 100%;
  height: 200px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#page9content-2 span {
  font-size: 0.9vw;
}
#page9content-2 img {
  width: 200px;
}
#page9content-3 {
  width: 100%;
  height: 200px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 4vw;
}
#page9content-3 img {
  width: 40px;
}
